@use '../Styles/variabler.scss' as* ;

.Body{
    color: $black;
    font-size: 0.9rem;
}
h2 {

    font-family: "Jura", sans-serif;
    font-weight: 400;
    size: 32px;
    color: $blue;
    text-align: center;
}
p{
    font-family:' "Inter", sans-serif;';
    font-size: 16px;
    font-weight: 400;

}
.bodybox{
    display: flex;
    border: 8px solid $blue-dusty; 


}
figcaption img{
    width: 50%;

}