@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');


  $white: #ffffff;
  $black: #000000;
  $blue-dusty: #2c3b6f;
  $blue: #002bc2;

