@use '../Styles/variabler.scss' as*;

.HeaderImages {
width: 100%;
height: 80%;
object-fit: cover ;
}

.HeaderText {
    text-align: center;
    color:$blue;
    
}
h1{
  font-family: '"Jura", sans-serif;';  
  color: $blue;
  font-weight: 400;
  font-size: 128px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span{
    font-family: '"Jura", sans-serif;'; 
    font-weight: 400;
    color: $white;
    font-size: 128px;
 
}