@use './../Styles/variabler.scss'as*;
nav {
  border-bottom: 10px solid $blue;
 
}
ul{
    
    display: flex;
    gap: 3rem;
    list-style: none;
   font-family: "Inter", sans-serif;
   


}
li {
  padding: 0 15px;
  border-right: 1px solid $blue;

}

nav li:last-child {
  border-right: none;
}
nav li a {
  text-decoration: none;
  color: $blue;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

 


@media(max-width: 600px){
    ul{
        flex-direction: column;
        gap: 2rem;
    }
    nav li{
        border-right:none;
    }

}